---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
import Heading2 from "../components/Heading2.astro"
import Tag from "../components/Tag.astro"
import Tags from "../components/Tag.astro";

const days = frontmatter.finished ? Math.floor((Date.parse(frontmatter.finished) - Date.parse(frontmatter.started)) / 86400000) : 'NONE';
const pagesPerDay = days ? Math.floor(frontmatter.pages / days) : 'None';

---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="grid grid-cols-2 gap-4">
        <div>
           <img class="h-full w-3/4"src={frontmatter.image.url}>
        </div>
        <div class="rounded shadow-xl bg-ghost p-6">
            <ul>
                <li>written by {frontmatter.author}</li>
                <li>started on: {frontmatter.started}</li>
                <li>{frontmatter.finished ? (`finished: ${frontmatter.finished}`) : ("finished: not yet")}</li>
                <li>pages: {frontmatter.pages}</li>
                <li>Rating: {frontmatter.rating}</li>
                <li>DAYS: {days}</li>
                <li>Pages per day: {pagesPerDay}</li>
            </ul>
            <Heading2 title="Notes:" />
            <div class="p-6 bg-white rounded">
            <slot />
                <div class="p-3 flex flex-row flex-wrap gap-2">
                    {frontmatter.tags.map((tag) => <Tags tag={tag} link=`/books/tags/${tag}` />)}
                </div>
            </div>
        </div>

    </div>
</BaseLayout>
